
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.fond-eau{
    background-image: url(../data/eau-piscine.webp) ;
    background-repeat: repeat;
    background-position: center;
}

.fond-sol{
    background-image: url(../data/sol.png);
    background-repeat: repeat;
    background-size: 200px;
}

/* GENERAL */

@font-face {
    font-family: 'MrsBeasleyRegular';
    src: url('/data/Mrs Beasley.ttf') format('truetype');
    font-weight: bold;
    font-style: normal; 
  }

.cacher{
    display: none !important;
}

.inverse{
    transform: scaleX(-1);
}

/* HEADER */

header{
    height: auto;
    max-height: 20%;
    padding-left: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../data/parasol.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: repeat;
    padding-bottom: 3%;
    padding-top: 20px;
}

#texte-titre{
    font-family: 'MrsBeasleyRegular';
    color: rgb(75, 156, 222);
    text-shadow: 
      -2px -2px 0 #113d61,
      2px -2px 0 #113d61,
      -2px 2px 0 #113d61,
      2px 2px 0 #113d61;
    font-size: 80px;
    padding: 8px;
}

img#titre{
    width: 30%;
    height:auto;
}

header > img{
    width: 5%;
    height:auto;
}

#icone-header{
    width: 60%;
    height:auto;
}

.btn-header{
    border: solid 3px #463f07 !important;
}

#bRegles{
    margin-left: 10%;
    margin-right: 2px;
}

/* MENU */
#roomJoin{
    width: 50% !important;
}

#creer-rejoindre-partie > div{
    background-color: rgba(171, 228, 255, 0.5);
    border-radius: 10px; 
    margin-bottom: 10px;
    
}


/* CONNEXION */



#ecran-connexion{
}

.bouee-canard{
    width: 100px;
    height: auto;
}

.transparent{
    opacity: 0.1;
}

.pretT{
    background-color: green !important;
}

#b-pret-roomjeu{
    /*font-family: 'MrsBeasleyRegular';*/
}

.bRetirerBot{
    width: min-content !important;
    height: min-content !important ;
}


/* PARTIE */


#roomEtChat{
    
}

/* FIN PARTIE */

#ecran-fin-partie-haut{
    padding-bottom: 20px;
}

#ecran-fin-partie-bas{
    padding-top: 20px;
}


/* CHAT */

#roomEtChat{

}

#divChat{
    background-color: rgba(255, 255, 255, 0.5);

    border-radius: 10px; 
    margin-bottom: 20px;
}


#chat{
}

#messages-chat{
    max-height: 300px;
    overflow-y: auto;
}



/* ROOM */


/* PLOUF PARTY */

#plateau{
}

#tab-plateau {
    
    background-image: url(../data/piscine.jpg);
    background-size: cover;
    display: grid;
    
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-width: 500px;
  
    /*border: 1px solid black;*/
}

#tab-plateau > div {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
#tab-plateau > div > div {
    aspect-ratio: 1;
  
    /*border: 1px solid black;*/
}

div.case {
    /*border: 1px solid #000;*/
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#img-plongeoir{
    
}
/*
td.eau {
    background-color: rgb(32, 136, 255);
}*/

.pion {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

[class*="color-r"] {
    background-color: red;
}
[class*="color-v"] {
    background-color: green;
}
[class*="color-b"] {
    background-color: blue;
}
[class*="color-m"] {
    background-color: magenta;
}
[class*="color-c"] {
    background-color: cyan;
}
[class*="color-j"] {
    background-color: yellow;
}

.direction {
    background-color: rgba(45, 218, 42, 0.5);
}
/*
td.plongeoir{
    border: 1px solid #000;
    border-left: none;
    background-color: lightgray;
}

td#case0{
    border: 1px solid #000;
    border-right: none;
}
*/
#joueurActu{
    /*background-color: #dddddd;*/
}

#interface{
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}

span#indicationCouleur{
    display: inline-block;
    width: 20px; 
    height: 20px; 
    margin-left: 15px;
    border-radius: 50%; 
    background-color: rgb(135, 135, 135); 
}

span#indicationCouleur:hover{

}

#demasquer{
    text-align: center;
    padding: 10px;
}






#FinPartie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin-bottom: 50px;
}

.Gagnant {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.473);
}


/* ANIMATIONS */

.animation{
    transition: 0.5s;
}


/* REGLES */ 

#offcanvasRegles{
    background-color: #bde7ff;
}

#offcanvasReglesHeader{
    background-color: #a6deff;
}

/* DIALOG ELIMINATION */

.ta-classe[open] {
    position: fixed;
    top: calc(50% - 1em);
    left: 0;
    width: 100%;
    height: 2em;
    background: rgba(255, 0, 0, 0.164);
    border: none;
    display: grid;
    place-content: center;
    font-size: 4em;
    padding: 0;

    color: red;
    font-weight: bold;
    text-shadow: 
      -2px -2px 0 #000000,
      2px -2px 0 #000000,
      -2px 2px 0 #000000,
      2px 2px 0 #000000;
}


/* DECORATION */

.decor-ballon{
    max-height: 60px;
    max-width: 60px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(6px 6px 6px #2222226e);
}

.decor-transat{
    height: 80px;
    width: 160px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(6px 6px 6px #2222226e);
}

.decor-parasol{
    height: 180px;
    width: 180px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(6px 6px 6px #2222226e);
}

.ecrans{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.grid{
    grid-column: 1;
    grid-row: 1;
}

